
body {
    background: #1b1b1b;
 }

 h1 {
    
   width: 100vw;
    font-size: 20vw;
   text-align: end;
   color: rgba(255, 0, 0, 0.517);
   font-family: helvetica;
   position: absolute;
   top: -250px;
line-height: 130px;
   
   }

   h1:hover{
    transition: 0.2s;
    transition-timing-function: ease-in;
    color: rgb(255, 0, 0);
    line-height: 20px;
    top: -20px;
   }

   html{
background-color: #ff0000;
color:#000000;
   }

   html:hover{
    background-color: #000000;
       }






 

 

 


