
body {
     background: #dde1e7;
  }

  h1 {
    width: 500px;
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 30px;
    text-align: left;
    color: rgb(105, 105, 105);
    font-family: 'times', serif;
    }

  p {
    padding-right: 20%;
    padding-left: 20%;
    color: rgb(105, 105, 105);
    text-align: left;
    font-size: 20px;
    font-family: "times", serif;
    }

    pre {
        padding-right: 10%;
        padding-left: 10%;
        color: rgb(105, 105, 105);
        text-align: left;
        font-size: 20px;
        font-family: "times", serif;
        }

.parent1{
    margin-top:5%;
    margin-bottom:5%;
    margin-left:15%;
    margin-right:15%;

}
  
.fragment{
    margin: 10px;
    padding: 25px 50px;  
}


  #homenav {
    background: #dde1e7;
    background: #dde1e7; 
padding: 5px 0px;
  }

  #homenav:hover {
    background: #dde1e7; 
    background: #dde1e7;
    
  }


  button {
    
    background: #dde1e7; 
    border: 0px solid #ffffff; 
    background: #dde1e7;
    text-shadow: -2px -2px 4px rgb(255, 255, 255), 2px 2px 4px rgba(194, 3, 3, 0.113) ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "garamond", garamond;
    background: #dde1e7;
    border-radius: 10px;
    margin: 10px;
    box-shadow: -3px -3px 7px rgba(255,255,255,0.45), 3px 3px 7px rgba(94,104,121,0.3);
    
  }

  
  .textbox{
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.305), 2px 2px rgba(219, 219, 219, 0.113)113);
    border-radius: 10px;
    margin: 10px;
  }

  button:hover {
    
    box-shadow: inset -3px -3px 7px rgba(255,255,255,0.45), inset 3px 3px 7px rgba(94,104,121,0.3);
} 
  


  .neu{
    height: 50vh;
    width: 50%;
    background: #dde1e7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box{
    height: 50px;
    width: 50px;
    background: #dde1e7;
    border-radius: 10px;
    margin: 10px;
   }
  
  div {
   display: flex;
   flex-wrap: wrap;
   
  }

  
  .box{
    box-shadow: -3px -3px 7px rgba(255,255,255,0.45), 3px 3px 7px rgba(94,104,121,0.3);
    
  }
  
  .box:hover{
    box-shadow: inset -3px -3px 7px rgba(255,255,255,0.45), inset 3px 3px 7px rgba(94,104,121,0.3);
}

  .textbox{
    justify-content: left;
  }
  
 

  